<template lang="pug">
  Chat(:messages="messages", @input="sendMessage", @disconnect="disconnect")

</template>

<script>
  import Chat from '../chat.vue';
  import { User } from '../../models/user/User';
  import { Message } from '../../models/message/Message';
  import { InfoMessage } from '../../models/message/InfoMessage';
  import { WarningMessage } from '../../models/message/WarningMessage';
  import { ErrorMessage } from '../../models/message/ErrorMessage';

  import * as io from 'socket.io-client';

  export default {
    data() {
      return {
        user: null,
        socket: null,
        messages: [],
        errors: [],
      }
    },
    methods: {
      connect(success_callback) {
        const address = process.env.VUE_APP_SERVER_ADDRESS || 'http://localhost:8084';
        this.socket = io(address);

        this.socket.on('connect', () => {
          if (success_callback) {
            success_callback();
          }
        });

        this.socket.on('disconnect', reason => {
          this.toLogin();
          this.user = null;
        });

        this.socket.on('activity_error', reason => {
          this.toLogin(reason);
        });

        this.socket.on('connect_error', error => {
          this.error('Unable to connect to the server');
        });

        this.socket.on('connect_timeout', timeout => {
          this.error('Unable to connect to the server');
        });

        this.socket.on('error', error => {
            this.error('Unknown error from server');
        });

        this.socket.on('auth', response => {
          if (response.username) {
            this.messages = [];
            this.user = new User(response.username);
          }
        });

        this.socket.on('auth_error', error => {
          if (! error) {
            this.error('Username already in use');
            return;
          } if (error.username && error.username.length) {
            this.error(error.username[0]);
          } else {
            this.error('Authentification error');
          }
        });

        this.socket.on('warning', data => {
          if (data.message) {
            this.warn(data.message);
          }
        });

        this.socket.on('info', data => {
          if (data.message) {
            this.messages.push(new InfoMessage(data.message));
          }
        });

        this.socket.on('message', data => {
          if (data.from && data.message) {
            this.messages.push(new Message(data.from, data.message, data.from === this.user.username));
          }
        });
      },
      authorize(username) {
        this.errors = [];

        this.connect(() => {
          this.send('auth', { username: username });
        });
      },
      sendMessage(message) {
        this.send('message', {
          message: message
        });
      },
      send(eventName, message) {
        this.socket.emit(eventName, message);
      },
      error(message) {
        if (this.user) {
          this.messages.push(new ErrorMessage(message));
        } else {
          this.toLogin(message);
        }
      },
      warn(message) {
        if (this.user) {
          this.messages.push(new WarningMessage(message));
        } else {
          this.toLogin(message);
        }
      },
      disconnect() {
        this.socket.disconnect();
      },
      toLogin(error) {
        this.$router.push({ name: 'Home', params: { error: error } });
      }
    },
    components: {
      Chat,
    },
    mounted() {
      if (this.$route.params.username) {
        this.authorize(this.$route.params.username);
      } else {
        console.log(this.$route.params.username);
        this.toLogin('Username not set');
      }
    }
  }

</script>

<style scoped lang="stylus">
      
</style>
