<template lang="pug">
  .home
    Login(@input="authorize")
      .alert.alert-danger(v-if="error") {{ error }}

</template>

<script>
  import Login from '../login.vue';

  export default  {
    data() {
      return {
        error: null,
      }
    },
    methods: {
      authorize(username) {
        this.error = null;
        this.$router.push({ name: 'Chatroom', params: { username: username }})
      }
    },
    components: {
      Login,
    },
    mounted() {
      if (this.$route.params.error) {
        this.error = this.$route.params.error;
      }
    }
  }
</script>

<style scoped lang="stylus">
      
</style>
