<template lang="pug">
  .chat
    header.text-right
      a(@click="disconnect") Log out
    section.board(ref="board", v-chat-scroll="{ always: false, smooth: true }")
      Message(v-for="(message, index) in messages", :key="index", :message="message")
    section.controls
      .input-group
        input.form-control(type='text', v-model="input_message")
        .input-group-append
          button.btn.btn-outline-secondary(type="button", @click="send") Send

</template>

<script>
  import Message from './message.vue';

  export default {
    props: ['messages'],
    data() {
      return {
        input_message: ''
      }
    },
    methods: {
      send() {
        this.$emit('input', this.input_message);
        this.input_message = '';
      },
      disconnect() {
        this.$emit('disconnect');
      },
      scrollToBottom() {
        // const board = this.$refs.board;
        // board.scrollTop = board.scrollHeight + 200;
      }
    },
    components: {
      Message,
    },
    watch: {
      messages(messages) {
        this.scrollToBottom();
      }
    }
  }
</script>

<style scoped lang="stylus">
  .chat
    height 100%
    padding-bottom 48px
    position relative
    background #fafafa
    
    header
      position absolute
      top 0px
      right 0px
      background white
      padding 5px 15px
      z-index 200
      
    .board
      padding 5px
      z-index 100
      height 100%
      overflow-y auto
    
    .controls
      background #eaeaea
      padding 5px
      position absolute;
      bottom 0px
      left 0px
      width 100%
      z-index 150
      
      .input-group
        margin-bottom 0
        
        button
          background #e2edff
          border-color #ced4da

</style>
