<template lang="pug">
  form.login
    h1 Chatroom login
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique velit lectus, sed dictum dui tristique eu

    slot
      
    .form-group
      input.form-control(type="text", placeholder="Enter your nickname", v-model="username")
    button.btn.btn-primary.btn-block(type="button", @click="attemtAuthorize") Login
</template>

<script>
  export default {
    data() {
      return {
        username: null
      }
    },
    methods: {
      attemtAuthorize() {
        this.$emit('input', this.username);
      }
    }
  }
</script>

<style scoped lang="stylus">
  .login
    height 100%
    overflow-y auto
    padding-bottom 48px
    position relative
    background #fafafa
    padding 50px 70px
    
</style>
