<template lang="pug">
  .message(:class="'type-' + message.type + ' ' + (message.is_me ? 'own' : '')")
    .row(v-if="message.type === 'chat'")
      .col-3.author(v-if="! message.is_me") {{ message.author }}
      .col-9.content {{ message.content }}
      .col-3.author(v-if="message.is_me") {{ message.author }}
    .row(v-else)
      .col
        p {{ message.content }}

</template>

<script>
  export default  {
    props: ['message'],
  }
</script>

<style scoped lang="stylus">
  .message
    background #eaeaea
    margin-bottom 3px
    padding 5px
    
    &.type-info
      background none
      font-size: 12px
    
    &.type-warning
      background none
      color orange
      font-size: 12px
      padding 0px 5px
    
    &.type-error
      background none
      color red
      font-size: 12px
      padding 0px 5px
    
    .content
      background white
      border-radius 5px
      text-align left
      padding 0px 5px
      
    .author
      text-align right
      
    &.own
      background #e2edff
      
      .content
        text-align right
        
      .author
        text-align left
        font-weight bold
    p
      margin-bottom 0
      
</style>
