<template lang="pug">
  #app
    .row.justify-content-center
      .col-sm-8.col-md-6.chat-slot
        router-view

</template>

<script>
  export default {}
</script>

<style lang="stylus">
  html, body, #app
    height 100%
    
  #app
    font-family 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-align center
    color #2c3e50
    
    > .row
      height 100%
      
    .chat-slot
       height 100%
    
    a
      cursor pointer
</style>
